.item {
  padding-top: 10px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
  width: 150px;
}

.item:not(:last-child) {
  margin-right: 10px;
}
.status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.online {
  composes: status;
  background-color: green;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.offline {
  composes: status;
  background-color: red;
}

.avatar {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.name {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.12);
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
