.profile {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding-top: 35px;
  background-color: #ffffff;
  border-radius: 4px;
}
.description {
  margin-bottom: 35px;
  text-align: center;
  color: #888;
  line-height: 1.5;
}

.avatar {
  clip-path: circle(50%);
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.name {
  margin: 0;
  font-size: 18px;
  color: #000;
  font-weight: 500;
}
.tag {
  margin-top: 5px;
  margin-bottom: 5px;
}
.location {
  margin: 0;
}
