.stats {
  display: flex;
  justify-content: center;
  background-color: #85ffeb;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0 0 8px 8px;
}

.item {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.label {
  font-size: 14px;
  color: rgb(66, 4, 82);
  margin-bottom: 5px;
}
.quantity {
  font-weight: 700;
}
