.stats {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.item {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.label {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}
.quantity {
  font-weight: 700;
}
